main p::first-letter
/* Styling to apply to the first letter of each about us paragraph, excluding the nav table */
{
    font-size: 200%;
    color:#131313; /* Slight off-black because when the font is so big the black is too much. */
}

figure
{
    position: relative;
    float:left;
}

main article p
{
    clear:both;
    float:left;
}