form>p
/* Overriding the default block indent for the "* required field*" text in contact us. */
{
    margin-left: 0px;
}

form legend 
 /* Making legend text bold */
{
    font-weight: bold;
}

form input[type="text"], input[type="email"], input[type="date"], input[type="tel"], textarea
/* Styling applied to text boxes in the form. Widens text boxes with padding. Adds a thin, gentlely
 coloured border around each.  */
{
    padding: 10px; 
    border: 1px solid #cccccc; 
    border-radius: 5px;
}

form input[type="submit"], input[type="reset"] 
/** Styling applied to the send message and clear buttons. Widens the buttons, makes the background
colour stand out from the page, and removes the border for a cleaner design.*/
{
    padding: 10px 20px; 
    background-color: #333333; 
    color: #ffffff; 
    border:none;
}

form input[type="submit"]:hover, input[type="reset"]:hover 
/* Styling applied when hovering over the send message and clear buttons. Changes the background colour
 of the button and makes the cursor to a pointer. 
 Credit: Learned about the hover pseudoselector from https://www.shecodes.io/athena/5457 and cursor 
 pointer from https://www.w3schools.com/cssref/pr_class_cursor.php */
{
    background-color: #555;
    cursor: pointer; /* Changing cursor on hover */
}
