/*This is unique id for the our vision section image*/
#OurVision{
    width: 350px; /*Setting the width of the image to be 350 pixels*/
    height: 350px; /*Setting the height of the image to be 350 pixels*/
    border: solid 4px black; /*Creating a border around for the image */
    
}
figure{
    text-align: center;
}


section .oddRow {
    background-color: #c5d8f0;
}

section .evenRow {
    background-color: lightgray;
}

section th {
    background-color: #929292;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    margin-left:100px;
    margin-right: 100px;
}