/* ------------- Header Styling ------------- */
header {
    background-color: lightgrey;
}

header h1 {
    margin-bottom: -5%;
}

header h2 {
    font-weight: 100;
    font-size: 16px ;
}

header img {
    height: 200px;
    padding-top: 7%;
    padding-bottom: 2%;
}

/* Styling for the body text in the index.html with padding, background color and margin to center in the webpage */
.body_text {
    padding: 50px;
    background-color: rgba(234, 200, 50, 0.216);
    border: 3px solid black;
    text-align: center; 
}

/* */
.externalButton {
    background-color: #333333;
    border: 2px #1f1f1f;
    padding: 8px; 
    color: white;
}

/* ---------- Our vision styling --------- */

/* Center aligns the image in homepage for our vision */
figure {
    text-align: center; /* Centering the figure */
}


/* This is the unique id for the our vision section image */
#ourVision {
    width: 350px; /* Setting the width of the image to be 350 pixels */
    height: 350px; /* Setting the height of the image to be 350 pixels */
    border: solid 4px black; /* Creating a border around for the image */
}


main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
footer p{
    text-align: center;
    background-color: lightgrey;
}

#visionportion{
    grid-row: 3/4;
}

#bodytext4{
    grid-row: 4/5;
}

#Learn_more{
    grid-row: 5/6;
}