/* ------------- Website-Wide Styling ------------- */

body {
    /* Styling to apply to the whole website. Adjusts text size, font, and line spacing. 
    The left margin is adjusted to give some space between the page border and the text itself. */
    font-size: 16px; 
    font-family: monospace, Georgia, Arial, sans-serif;
    line-height: 2;
}

/* ------------- Navigation Styling ------------- */

nav {
    /* Styling to apply to the navigation header.*/
    background-color: #333;
    color: white;    
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column: 1/-1;
    font-size: 16px;
    padding-left: 2%;
    padding-right: 2%;
    height: 100px;
}

nav div {
display: flex;
justify-content: flex-end;
gap: 20px;
}

nav a {
color: white;
}

nav img {
height: 80px;
}


/* ------------- Header Styling ------------- */

header {
    background-color: lightgrey;
    text-align: center;
}

header h1 {
    position: relative;
    margin-bottom: -5%;
}

header img {
height: 200px;
padding-top: 7%;
padding-bottom: 2%;

}
