/* ------------- Website-Wide Styling ------------- */

body {
    /* Styling to apply to the whole website. Adjusts text size, font, and line spacing. 
    The left margin is adjusted to give some space between the page border and the text itself. */
    font-size: 16px; 
    font-family: monospace, Georgia, Arial, sans-serif;
    line-height: 2;
    text-align: center;
    background-color: lightblue;
}

/* Styling for the body text in the index.html with padding, background color and margin to center in the webpage */
.body_text {
    padding: 30px;
    background-color: rgba(234, 200, 50, 0.216);
    border: 3px solid black;
    text-align: center; 
    margin-bottom: 20px;
}

.boxCentering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Medium device universal rules that applies to both pages*/
@media screen and (min-width: 590px){
    header{
        height: 400px;
    }
    nav{
        height: 125px;
    }
}

/* Large device rules for both webpages in the website */
@media screen and (min-width: 790px){
    body{
        width: 790px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ------------- Navigation Styling ------------- */
nav {
    /* Styling to apply to the navigation header.*/
    background-color: #333;
    color: white;    
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column: 1/-1;
    margin-top: -1%;
}

nav div {
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    gap: 20px;
}

nav a {
    background-color:white;
    color:black;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 50px;
}

#currentPage {
    background-color:rgb(163, 163, 163);
}

nav img {
    padding-left: 15%;
    height: 80px;
    margin-top: 10%;
    margin-bottom: 10%;
}

footer p{
    text-align: center;
    background-color: lightgrey;
    margin-bottom: -5%;
}

#fullContentColor {
    background-color: white;
}